@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald.ttf") format("truetype");
}
@theme {
    --font-oswald: "Oswald", sans-serif;
    --breakpoint-mw: 425px;
    --breakpoint-mm: 375px;
    --breakpoint-tm: 426px;
}
